<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <title>Lancar Despesa Maquina</title>
</head>

<body>
    <h3>Despesas com Máquinas</h3>

    <div class="container">
        <form th:object="${despesaMaquina}" action="/lancarDespesaMaquina" method="POST">
            <div class="row my-2">
                <div class="col col-2">
                    Mês/Ano*
                </div>
                <div class="col">
                    <input th:field="*{mesAno}" type="date" class="form-control">
                </div>
            </div>
            <div class="row my-2">
                <div class="col col-2">
                    Máquina *
                </div>
                <div class="col">
                    <select th:field="*{maquina}" class="form-control">
                        <option th:each="maquina : ${maquinas}" th:text="${maquina.nome}" th:value="${maquina.id}"></option>
                        <!-- MARK: Options dinamicas -->
                    </select>
                </div>
            </div>
            <div class="row my-2">
                <div class="col col-2">
                    Preço (l/KWh)
                </div>
                <div class="col">
                    <input  th:field="*{precoCombustivel}" type="text" class="form-control" placeholder="">
                </div>
            </div>
            <div class="row my-2">
                <div class="col col-2">
                    Fator de Potência
                </div>
                <div class="col">
                    <select th:field="*{fatorPotencia}" class="form-control">
                        <option th:each="fatorPotencia : ${T(com.arquitetura.epcafe.enums.FatorPotencia).values()}" 
                                th:text="${fatorPotencia}" 
                                th:value="${fatorPotencia}">
                        </option>
                        </option>
                    </select>
                </div>
            </div>
            <div class="row my-2">
                <div class="col col-2">
                    Horas Trabalhadas*
                </div>
                <div class="col">
                    <input th:field="*{horasTrabalhadas}" type="number" class="form-control">
                </div>
            </div>
            <div class="row my-2">
                <div class="col">
                    <button type="submit" class="btn btn-success"><i class="bi bi-floppy"></i> Salvar</button>
                    <button type="reset" class="btn btn-warning text-light"><i class="bi bi-trash3-fill"></i>
                        Limpar</button>
                </div>
            </div>
        </form>
    </div>


    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <td>Mês/Ano</td>
                    <td>Máquina</td>
                    <td>Combustível</td>
                    <td>Fator Potência</td>
                    <td>Valor Total (R$)</td>
                    <td>Preço Combustível</td>
                    <td>Operações</td>
                </tr>
            </thead>
        </table>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>